<div class="modal" id="modal-{{anime.a_id}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box modal-box">
      <p class="tcenter">
        <a href="https://myanimelist.net/anime/{{anime.a_id}}/" rel="noopener noreferrer" target="_blank" title={{anime.title}}>{{anime.title}}</a>
      </p>
      <figure class="tcenter">
        <img src="{{anime.image}}" alt="{{anime.title}}">
      </figure>
      <p class="tcenter">
        <button class="button is-primary vote-button">Vote!</button>
      </p>
    </div>
  </div>
  <button class="modal-close"></button>
</div>